@model MovieTicketBooking.Models.MovieModel

@{
    ViewBag.Title = "AddMovie";
}

<h2>Add Movie</h2>
<h3>@ViewBag.message</h3>
@using (Html.BeginForm("AddMovie", "TheatreManager", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<table cellpadding="10">
    <tr>
        <td>
            @Html.LabelFor(Model => Model.MovieName)
        </td>
        <td>
            @Html.TextBoxFor(model => model.MovieName, new { @MaxLength = 40 })
            @Html.ValidationMessageFor(model => model.MovieName, "", new { style = "color:red;" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(Model => Model.MovieHour)
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.MovieHour)
            @Html.ValidationMessageFor(Model => Model.MovieHour, "", new { style = "color:red;" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(Model => Model.MovieType)
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.MovieType,new { @MaxLength = 30 })
            @Html.ValidationMessageFor(Model => Model.MovieType, "", new { style = "color:red;" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(Model => Model.MovieDescription,new { @MaxLength = 50 })
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.MovieDescription)
            @Html.ValidationMessageFor(Model => Model.MovieDescription, "", new { style = "color:red;" })
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" />
        </td>
    </tr>
</table>
}



