@model MovieTicketBooking.Models.MovieModel


@{
    ViewBag.Title = "MovieIndex";
}


@{
    var item = (MovieTicketBooking.Models.MovieModel)ViewData["Movie"];
}
@if (item == null)
{
    @Html.ActionLink("Add Movies", "AddMovie", "TheatreManager")
}
@if (item != null)
{
    <table cellspacing="0" border="1">
        <tr>
            <th>Movie Name </th>
            <th>Movie Hour </th>
            <th> Movie Type</th>
            <th>Movie Description</th>
        </tr>
        <tr>
            <td>@item.MovieName</td>
            <td>@item.MovieHour</td>
            <td>@item.MovieType</td>
            <td>@item.MovieDescription</td>
            <td>
                @Html.ActionLink("Update", "UpdateMovie", new { id = item.MovieId }) | @Html.ActionLink("Delete", "DeleteMovie", new { id = item.MovieId },

new { onclick = "return confirm('Are sure wants to delete?');" })
            </td>
        </tr>
    </table>
}






