
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/styles/StyleSheet.css" />
</head>
<body>
    <header>
        <section>
            <div>
                <img src="~/images/movie.png" alt="Icon" class="headerIcon" />
            </div>
            <h2>ONLINE MOVIE TICKET BOOKING</h2>
        </section>
        <div class="link">
            <ul>
                <li>Erode</li>
                <li>@Html.ActionLink("Sign In", "SignIn", "Account")</li>
                <li>@Html.ActionLink("Sign Up", "SignUp", "Account")</li>

            </ul>
        </div>

        <div class="nav">
            <p>
                @Html.ActionLink("Home", "Index", "Home")
                @Html.ActionLink("Movies", "SignUp", "Account")
                @Html.ActionLink("Theatre", "", "")
                @Html.ActionLink("Contact Us", "", "")
            </p>
        </div>
    </header>
    <div class="content">
        @RenderBody()
    </div>
</body>

