@model MovieTicketBooking.Models.MovieViewModels

@{
    ViewBag.Title = "AddMovie";
}

<h2 class="content">Add Movie</h2>
<div class="movieAlignment">
    @using (Html.BeginForm("AddMovie", "Movie", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <br />
        for (int i = 0; i < (int)TempData.Peek("Screen"); i++)
        {
            @Html.HiddenFor(Model => Model.MovieModels[i].TheatreId, new { Value = (int)TempData.Peek("Id") })

            <span class="subHeading"> Screen Number : @(i + 1) </span>
            <br /><br />
            <span>&nbsp;  Movie Name &nbsp;  </span> @Html.TextBoxFor(Model => Model.MovieModels[i].MovieName)
            @Html.ValidationMessageFor(Model => Model.MovieModels[i].MovieName, "", new { style = "color:red;" })

            <span>&nbsp;   Movie Type&nbsp;</span> @Html.TextBoxFor(Model => Model.MovieModels[i].MovieType)
            @Html.ValidationMessageFor(Model => Model.MovieModels[i].MovieType, "", new { style = "color:red;" })

            <span>&nbsp;   Movie Language &nbsp;</span>@*@Html.TextBoxFor(Model => Model.MovieModels[i].Language)*@
            @Html.DropDownListFor(Model => Model.MovieModels[i].Language,
                new SelectList(Enum.GetValues(typeof(MovieTicketBooking.Models.MovieLanguage))),
                "Select Language")

            @Html.ValidationMessageFor(Model => Model.MovieModels[i].Language, "", new { style = "color:red;" })

            <span>&nbsp;   Movie Certificate &nbsp;</span> @*@Html.TextBoxFor(Model => Model.MovieModels[i].Certificate)*@
            @Html.DropDownListFor(Model => Model.MovieModels[i].Certificate,
                new SelectList(Enum.GetValues(typeof(MovieTicketBooking.Models.MovieCertificate))), "Select Certificate")
            @Html.ValidationMessageFor(Model => Model.MovieModels[i].Certificate, "", new { style = "color:red;" })

            <br /><br />
            <span>&nbsp;   Movie Hour &nbsp;</span> @Html.TextBoxFor(Model => Model.MovieModels[i].MovieHour, new { @type = "time" })
            @Html.ValidationMessageFor(Model => Model.MovieModels[i].MovieHour, "", new { style = "color:red;" })

            <span> &nbsp; Release Date &nbsp;</span>@Html.TextBoxFor(Model => Model.MovieModels[i].ReleaseDate, new { @type = "date" })
            @Html.ValidationMessageFor(Model => Model.MovieModels[i].ReleaseDate, "", new { style = "color:red;" })

            <span> &nbsp; Movie Roles &nbsp;</span>@Html.TextBoxFor(Model => Model.MovieModels[i].MovieDescription)
            @Html.ValidationMessageFor(Model => Model.MovieModels[i].MovieDescription, "", new { style = "color:red;" })

            <span> &nbsp; Upload Img &nbsp;</span>
            @Html.TextBoxFor(Model => Model.MovieModels[i].ImageFile,new { type = "file" })
            @Html.ValidationMessageFor(Model => Model.MovieModels[i].ImageFile, "", new { style = "color:red;" })

            <br />
            <br />
            <br /><br />
        }
        <div class="alignment">
            <input type="submit" value="Add" /> &nbsp; &nbsp; &nbsp; &nbsp;
            @Html.ActionLink("Cancel", "ViewTheatre", "Theatre")
        </div>
    }
</div>




