@model MovieTicketBooking.Models.MovieModel

@{
    ViewBag.Title = "UpdateMovie";
}
<div class="content">
    <h2>Update Movie</h2>
    @using (Html.BeginForm("EditMovie", "Movie", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.MovieId)
        @Html.HiddenFor(Model => Model.TheatreId)
        <table cellpadding="10">
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.MovieName)
                </td>
                <td>
                    @Html.EditorFor(model => model.MovieName, new { @MaxLength = 40 })
                    @Html.ValidationMessageFor(model => model.MovieName, "", new { style = "color:red;" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.MovieHour)
                </td>
                <td>
                    @Html.EditorFor(Model => Model.MovieHour)
                    @Html.ValidationMessageFor(Model => Model.MovieHour, "", new { style = "color:red;" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.MovieType)
                </td>
                <td>
                    @Html.EditorFor(Model => Model.MovieType, new { @MaxLength = 30 })
                    @Html.ValidationMessageFor(Model => Model.MovieType, "", new { style = "color:red;" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.MovieDescription, new { @MaxLength = 50 })
                </td>
                <td>
                    @Html.EditorFor(Model => Model.MovieDescription)
                    @Html.ValidationMessageFor(Model => Model.MovieDescription, "", new { style = "color:red;" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.ImageFile)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.ImageFile, new { type = "file" })
                    @Html.ValidationMessageFor(Model => Model.ImageFile, "", new { style = "color:red;" })
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" />
                </td>
                <td>
                    @Html.ActionLink("Cancel", "ViewMovie", "Movie", new { id = Model.TheatreId }, null)
                </td>
            </tr>
        </table>
    }
</div>



