@model MovieTicketBooking.Models.TheatreModel

@{
    ViewBag.Title = "AddTheatre";
}
@Html.AntiForgeryToken()
<h2>Add Theatre Details</h2>
@using (Html.BeginForm("AddTheatre", "Theatre", FormMethod.Post))
{
    <table cellpadding="10">
        <tr>
            <td>
                @Html.LabelFor(Model => Model.TheatreName)
            </td>
            <td>
                @Html.EditorFor(model => model.TheatreName, new { @MaxLength = 40 })
                @Html.ValidationMessageFor(model => model.TheatreName, "", new { style = "color:red;" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.Address)
            </td>
            <td>
                @Html.TextAreaFor(Model => Model.Address, new { @MaxLength = 50 })
                @Html.ValidationMessageFor(Model => Model.Address, "", new { style = "color:red;" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.NoOfScreen)
            </td>
            <td>
                @Html.EditorFor(Model => Model.NoOfScreen)
                @Html.ValidationMessageFor(Model => Model.NoOfScreen, "", new { style = "color:red;" })
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" />
            </td>
            <td>
                <input type="reset" value="Reset" />
            </td>
        </tr>
    </table>
}

