@model IEnumerable<MovieTicketBooking.Entity.Theatre>

@{
    ViewBag.Title = "DisplayTheatre";
}

<h2>Theatre Details</h2>
@Html.ActionLink("Add Theatre", "AddTheatre", "Theatre")

<table cellspacing="0" border="1">
    <tr>
        <th>Theatre Id </th>
        <th>Theatre Name </th>
        <th> Address</th>
        <th>NoOfScreen</th>
    </tr>
    @foreach (MovieTicketBooking.Entity.Theatre theatre in Model)
    {
        <tr>
            <td>@theatre.TheatreId</td>
            <td>@theatre.TheatreName</td>
            <td>@theatre.Address</td>
            <td>@theatre.NoOfScreen</td>
            <td>
                @Html.ActionLink("Edit", "EditTheatre", new { id = theatre.TheatreId }) | @Html.ActionLink("Delete", "DeleteTheatre", new { id = theatre.TheatreId },

new { onclick = "return confirm('Are sure wants to delete?');" })
            </td>
        </tr>
    }
</table>

©

